@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shard style  */ 
.display-flex{
  display: flex;
}

.text-primary{
  color: #FF900E;
}

.text-gray{
  color: #424242;
}

.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color:rgb(255,144,14,0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

.section-title{
  font-size: 2.9rem;
  font-weight: 700;
}

/* header style */


/* navber style */
.navber{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  
}

.navber, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles */
.banner-container{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-image{
  width: 100%;
}

/* team and features related styles */
.teams{
  align-items: center ;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.our-features{
  margin-left: 70px;
  max-width: 537px;
}



#quick-list{
  font-weight: 500;
}

/* responsive media query */
@media screen and (max-width:576px){
  .navber,
   .nav-links,
   .teams {
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  .our-features{
    margin-left: 20px;
  }
}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin-left: 40px;
  }
}